<div class="container pt-5">
  <div class="main-container">
    <h1>Here are the results from your search...</h1>
    <% if @search_results.present? %>
      <%= render 'shared/friends', friends: @search_results, friend_search: true, pending_request: false, received: false %>
    <% end %>
  </div>
</div>
