<div class="container pt-5">
  <h1 class="pt-5">Your Profile Page, <%= @user.username %></h1>
  <% @posts.each do |post| %>
    <h3><%= post.title %> <%= (post.user.username) %></h3>
  <% end %>
</div>

