<div class="container py-5">
  <div class="my-container">

    <% if current_user.friends.count.zero? %>

      <%= render "posts/posts", posts: @my_posts %>

    <% else %>

      <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="my-posts" data-toggle="tab" href="#posts" role="tab" aria-controls="home" aria-selected="true">Yours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="all-posts" data-toggle="tab" href="#friends" role="tab" aria-controls="profile" aria-selected="false">Friends & You</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
          <%= render "posts/posts", posts: @my_posts %>
        </div>
        <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="friends-tab">
          <%= render "posts/posts", posts: @all_posts %>
        </div>
      </div>

    <% end %>
  </div>
</div>
