.banner {
  height: 100vh;
  top: 0;
  color: rgb(195, 195, 195);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
  font-size: 50px;
  font-weight: bold;
  }
  p {
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 20px;
  }
}
