.friend-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  .friend-card {
    position: relative;
    width: 280px;
    border-radius: 8px;
    padding: 8px;
    background-color: rgba(70, 70, 70, 0.9);
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: background 0.5s ease;
    }
    .friend-card-image {
      display: flex;
      justify-content: center;
      .friend-image {
        width: 240px;
        border-radius: 50%;
      }
    }
    .friend-card-body {
      text-align: center;
      a {
        text-decoration: none;
        font-size: 24px;
      }
    }
    .friend-button {
      position: absolute;
      text-align: center;
      opacity: 0;
      transition: opacity .35s ease;
      a {
        width: 200px;
        padding: 12px 48px;
        text-align: center;
        color: white;
        border: solid 2px white;
        z-index: 1;
      }
    }
    &:hover {
      .friend-button {
        opacity: 1;
      }
      .overlay {
        display: block;
        background: rgba(0, 0, 0, .3);
      }
    }
  }
}

