// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import 'footer';
@import 'banner';
@import 'accordion';
@import 'post-card';
@import 'containers';
@import 'friend-cards';
@import 'chatroom';

.form-control {
  background-color: rgba(100, 100, 100, 0.7);
  &:focus {
    color: inherit;
    background-color: rgba(100, 100, 100, 0.7);
  }
}
