.navbar-lewagon {
  justify-content: space-between;
  background: rgba(50, 50, 50, 0.7);
  a {
    color: rgba(255, 255, 255, 0.3)  !important;
    &:hover {
      color: rgba(255, 255, 255, 0.6) !important;
    }
  }
  li {
    color: rgba(255, 255, 255, 0.3)  !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  background: rgba(50, 50, 50, 0.7);
  .dropdown-item{
    &:hover {
      background: rgba(50, 50, 50, 0.9);
    }
  }
}
