.post-card {
  background-color: $trans-gray;
  border-radius: 8px;
  padding: 8px;
  color: $teal;
  a {
    color: $teal;
  }
  .post-card-header {
    p {
      margin-bottom: 4px;
    }
    h1 {
      font-size: 56px;
      color: #02a4a9;
    }
  }
  .post-card-content p {
    font-size: 28px;
  }
  .post-card-comments p {
    margin-bottom: 4px;
    .post-card-comments-content p {
      font-size: 14px;
      weight: italic;
    }
    .post-card-comments-content p {
      font-size: 16px;
    }
  }
}
