// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  position: relative;
  height: 100vh;
  background: linear-gradient(135deg,
              rgba(0, 0, 0, 0.8) 0%,
              rgba(0, 0, 0, 0.3) 50%),
              asset-url('books.jpg');
  .message {
    position: fixed;
    bottom: 60px;
    right: 40px;
    font-size: 40px;
    color: $light-gray;
    cursor: pointer;
  }
}

.btn:focus, .btn:active:focus, .btn.active:focus{
  outline: none;
  box-shadow: none;
}
